.highslide-header .highslide-close a{
	text-indent: 10000px;
	display: block;
	height: 24px;
	width: 24px;
	float: right;
	background: url(../graphics/close.png);
}
.highslide-footer .highslide-close a{
	text-indent: 10000px;
	display: block;
	height: 24px;
	width: 24px;
	float: right;
	background: url(../graphics/close.png);
}
.highslide-header .highslide-move a{
	text-indent: 10000px;
	display: block;
	height: 32px;
	width: 32px;
	float: left;
	background: url(../graphics/move.png);
}