div.menusys_mega {width: 100%;display:block; min-height:32px;height:62px;margin-top:5px; }

/* Level 0 */
div.menusys_mega ul.level0 {width:100%;margin:0;padding:0;float: left;list-style: none;}
div.menusys_mega ul.level0 > li { background: url("../../images/bg_mainmenu_seperator.png") no-repeat scroll 100% 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 62px;
    margin: 0;
    padding: 0;}
div.menusys_mega ul.level0 > li.last-item{background:none;}
div.menusys_mega ul.level0 li > a.item {margin-right: 5px;color:#414141;display: inline-block;position: relative;z-index: 21;}
div.menusys_mega ul.level0 li span.menu-title {  color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding: 16px 10px 25px;
    text-transform: uppercase;}

div.menusys_mega ul.level0 li .has-image {display: block;padding: 0 0 0 30px;background-repeat: no-repeat;background-position: 2px 3px;}
div.menusys_mega ul.level0 li > a.item > span > span.menu-desc {display: block;color:#ddd;font-weight: normal;font-size: 92%;}
div.menusys_mega ul.level0 li.active > a.item { color:#8FCBFF;}
div.menusys_mega ul.level0 li.hover > a.item {  background: url("../../images/mainmenu_top.png") no-repeat scroll center bottom transparent;color:#8FCBFF;text-decoration: none;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title { color:#8FCBFF; }
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#8FCBFF; }

div.menusys_mega ul.level0 li.active { }
div.menusys_mega ul.level0 li.hover { }
div.menusys_mega ul.level0 li.active  span.menu-desc,
div.menusys_mega ul.level0 li.hover  span.menu-desc{}
div.menusys_mega ul.level0 > li.hasChild a.item > span.no-image{}
div.menusys_mega ul.level0 > li.hasChild.hover > a.item > span.no-image,
div.menusys_mega ul.level0 > li.hasChild.active > a.item > span.no-image{}

/*  Boder Child Content  */
div.menusys_mega .menusub_mega {position:absolute;opacity:0;}
div.menusys_mega .menusub_mega .menusub_mega{margin-top: -32px !important;padding-top:0; }
div.menusub_mega > div.submenu-wrap{display:table;position:relative;}
div.menusys_mega div.menusub_mega div.subarrowtop div.subarrowtop {display:none;}
div.menusub_mega div.subarrowtop{display:table;position:absolute;}
div.menusub_mega div.menusub_mega div.subarrowtop{display:none;}
div.menusys_mega div.subwrapcenter{display: table; position: relative;background: url("../../images/sub_mainmenu.png") repeat scroll 0 0 transparent;border:1px solid #818181;border-top:none;}
div.menusys_mega ul.mega-ul li.hasChild.hover .submenu-wrap {border-radius:5px;}

/* Mega Grouped  */
div.menusys_mega .mega-group {display:block;margin: 0  ;padding:  10px;}
div.menusys_mega .mega-group span.no-image{background: none!important ;display: block;}
div.menusys_mega .mega-group span.has-image{padding: 3px 0 3px 25px;display:block;  background-position: 2px 4px;}
div.menusys_mega .mega-group span.no-image span.menu-title{color: #d44912;}
div.menusys_mega .mega-group > a.item{padding: 0 ;}
div.menusys_mega div.submenu-wrap .mega-group .menu-title{padding: 0;font-size: 120%;display:block;line-height: 20px;text-transform:uppercase;font-family: arial!important;}
div.menusys_mega div.submenu-wrap .mega-group .menu-desc{color:#7e7e7e;font-size:95%;}

/* Child Content  */
#menusys_mega .menu-image {border: none;float: left;line-height: 44px;padding: 8px 0 0;margin-right: 3px;}
div.menusys_mega .mega-module {}
div.menusys_mega .mega-module .moduletable{}
div.menusys_mega .mega-module .moduletable .modulecontent{color:#333;width:auto; padding: 10px 0;}

/* Level2 MegaMenu   */
div.menusys_mega div.subwrapcenter > .megacol {float: left;}
div.menusys_mega div.subwrapcenter > .megacol.first-item,
div.menusys_mega div.subwrapcenter > div:first-child{border-left:none;}
div.menusys_mega div.megacol > div.submenu-wrap ul.mega-ul li.first-item{border-radius: 0;}
div.megacol .submenu-wrap{float:left;}

div.menusys_mega ul.mega-ul{ margin:0;overflow:hidden;display:block;}
div.menusys_mega ul.mega-ul li.hasChild {}
div.menusys_mega ul.mega-ul li {padding: 0;float: none !important;display: block;background: none; border-bottom: 1px solid #B1B1B1;
    height: auto;
    margin: 0;
    padding-left: 10px;
    }
div.menusys_mega ul.mega-ul li.last-item{overflow:hidden;}
div.menusys_mega ul.mega-ul li.first-item{overflow:hidden;}

div.menusys_mega ul.mega-ul li.hover{background: url("../../images/sub_mainmenu_hover.png") repeat-x scroll 0 0 transparent; }
div.menusys_mega  ul.mega-ul li.mega-li a.item span.no-image{background: none !important;
    color: #4E4E4E !important;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    }
div.menusys_mega  ul.mega-ul li.mega-li a.item span.no-image span.menu-title{color:#4E4E4E}
#menusys_mega .megacol ul li a:hover span.no-image,
#menusys_mega .megacol ul li a:focus span.no-image,
#menusys_mega .megacol ul li a:active span.no-image,
#menusys_mega .megacol ul  li a.active span.no-image,
#menusys_mega .megacol ul  li a.active:hover span.no-image,
#menusys_mega .megacol ul  li a.active:active span.no-image,
#menusys_mega .megacol ul  li a.active:focus span.no-image,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;color: #3D7FB8 !}
#menusys_mega .megacol ul li a:hover span.no-image span,
#menusys_mega .megacol ul li a:focus span.no-image span,
#menusys_mega .megacol ul li a:active span.no-image span,
#menusys_mega .megacol ul  li a.active span.no-image span,
#menusys_mega .megacol ul  li a.active:hover span.no-image span,
#menusys_mega .megacol ul  li a.active:active span.no-image span,
#menusys_mega .megacol ul  li a.active:focus span.no-image span,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image span {color: #3D7FB8 !important;}

div.menusys_mega  ul.mega-ul li.mega-li a.item{display: block;position: static;text-shadow: none;text-transform:none;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item{text-decoration: none;}
div.menusys_mega  ul.mega-ul li.mega-li a.item span.menu-title{padding:0;text-transform:none;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color: #3D7FB8 !important;}
div.menusys_mega  ul.mega-ul li.mega-li a.item .has-image{padding-left:25px; background-position:2px 4px;}
div.menusys_mega  ul.mega-ul li.mega-li a.item .has-image span.menu-title{padding:0;}


