/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/
div.jv-frame-cat {
	width: 100%;
	overflow: hidden;
}
div.jv-frame-cat .jv-category {
	margin: 0 0 10px 0;
	float: left;
}
div.jv-frame-cat .jv-category .jvpadding {
	padding-right: 10px;
}
div.jv-frame-cat .jv-category ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.jv_news_wrap ul.jv-title-category{
  border-bottom:1px solid #EDEDED;
  margin:1em 0 !important; 
  padding-bottom:0 !important;
  width:100%;
  float:left;
}
div.jv-frame-cat .jv-category img.jv-sectcont-thumb-left {
  border:1px solid #B2B2B2;
  float:left;
  padding:1px; 
	margin: 0 10px 0 0;
}
div.jv-frame-cat .jv-category img.jv-sectcont-thumb-right {
  border:1px solid #B2B2B2;
  padding:1px; 
  float:right;
	margin: 0 10px 0 0;
}
div.jv-frame-cat .jv-category span.jv-title-category {
	font-weight: bold;
}
.jv_news_wrap ul {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
}
.jv_news_wrap ul.jv-title-category li{
 padding:0;
 background:none repeat;
 list-style: none;
 float: left;
}
.jv_news_wrap ul.jv-title-category a,.jv_news_wrap ul.jv-title-category a:hover{
  color:#2A5B9E;
  text-decoration:none;
  margin:0;
  padding:0 10px;
  background: none !important;
}
.jv_news_wrap ul.jv-title-category span.jv-title-category{ 
  color:#01529F;  
  font-weight:bold; 
  text-transform:uppercase;
}
li.jv-sectcont-article h4{
  margin:1em 0;
  padding:0;
  font-family:"Segoe UI",Arial,Helvetica,sans-serif
}
.jv_news_wrap li.jv-article-title h4{margin:12px 0;}
.jv_news_wrap p.jv-sectcont-introtext{
  color:#5E5E5E;
  margin:1em 0;
}
.jv_news_wrap ul.article-item li{
	background:url(../images/arrow1.jpg) no-repeat 0px 9px;
	padding: 2px 0 0 15px !important;
	list-style: none;
}
li.jv-article-title a,p.more_link{font-weight:bold;color:#5E5E5E;}
li.jv-article-title{color:#3B5468}
.jv_news_wrap p.jv-news-readmore{
  margin:7px 0;
  padding:0;
}
.jv_news_wrap p.jv-news-readmore a.readmore{
  background:url(../images/readon.gif) no-repeat 100% 3px;
  text-align: center;
  padding: 0 10px 0 0;
}
.jv_news_wrap ul.article-item li a{
  color:#3B5468;
  text-decoration: none;
}
.jv_news_wrap ul.article-item li a:hover{
  color:#3B5468 !important;
  background: none !important;
  text-decoration: underline;
}
div.jv-frame-cat .jv-category ul.lead li {
  background:none repeat scroll 0 0 transparent;
  padding:0;
}
.jv_news_wrap ul.jv-title-category li{
	float:left;
}
div.cls{clear:both;}
ul.jv-title-category li.jv-firstitem a,ul.jv-title-category li.jv-firstitem a:hover {
	font-size: 150%;
	padding-left: 0;
}
li.jv-firstitem a  span {
	border-bottom: 1px solid #01529F ;
}
.jv_news_wrap ul.jv-title-category a:hover span.jv-title-category {
	border-bottom: 1px solid #01529F ;
}
