/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	line-height: 21px;
	font-family:  Helvetica,Arial,sans-serif;
}
body#bd {
	color: #3c3c3c;
	
}
body.fs1 {font-size: 10px;}
body.fs2 {font-size: 11px;}
body.fs3 {font-size: 12px;}
body.fs4 {font-size: 13px;}
body.fs5 {font-size: 14px;}
body.fs6 {font-size: 15px;}

/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
 head~body #opera { display: block; }
}

/* Clearfix */
.clearfix {
	clear: both;
}
#zt-wrapper {
	padding: 0;
	overflow: hidden;
	text-align: left;
}
#zt-wrapper-inner {
	padding: 0;
	overflow: hidden;
	text-align: left;
	margin:0 auto;
}
.zt-wrapper {
	width: 960px;
	margin: 0 auto;
}
#zt-userwrap1,
#zt-userwrap2,
#zt-userwrap3,
#zt-userwrap4,
#zt-userwrap5,
#zt-userwrap6,
#zt-userwrap7 {
	margin: 0;
	width: 100%;
}
#zt-userwrap1-inner,
#zt-userwrap2-inner,
#zt-userwrap3-inner,
#zt-userwrap4-inner,
#zt-userwrap5-inner,
#zt-userwrap6-inner,
#zt-userwrap7-inner {
	padding: 10px 0;
	width: 100%;
	overflow: hidden;
}
/* BEGIN EDIT */
#zt-userwrap1 {
	float: left;
	border-bottom: 1px solid #224e66;
	background: url(../images/bg_png.png) repeat 0 0;
}
#zt-userwrap2 {
	background: url(../images/line.png) repeat-x 0 -302px ;
}
#zt-userwrap7 {
	border-top: 1px solid #243f4b;
	background: url(../images/blue/wrap6_bg.png) repeat ;
	padding-top: 24px;
}
#zt-userwrap7-inner {
	width: 100%;
	overflow: hidden;
}
#zt-userwrap6 {
	padding: 30px 0 12px;
	overflow: hidden;
	color: #FFF;
}
#zt-userwrap6 div.modulecontent {
	padding: 0;
}
#zt-userwrap2-inner {
	padding-top: 30px;
}
#zt-userwrap3-inner {
	padding: 0;
	text-align: center;
}
#zt-userwrap3-bottom{
	background: url(../images/bg_pedon_group.png) repeat-x top left;
	height: 65px;
    margin-top: -65px;
    position: relative;
	}
/* CLASS EDIT
-------------------------------------------------------------*/

/* BEGIN HEADER
-------------------------------------------------------------*/
#zt-header {
	width: 100%;
	height: auto;
	position: relative;
	background: url(../images/blue/header_bg.jpg) repeat-x top center;
}
#zt-header-inner {
	width: 100%;
	overflow: hidden;
}
#zt-tools,
#zt-topmenu {
	float: right;
}
#zt-top {
	padding: 5px 0;
	width: 100%;
	color: #DDD;
	font-size: 90%;
	overflow: hidden;
	background: url(../images/bg_top.png);
}
#zt-top-left {
	float: left;
	width: 49%;
}
#zt-top-right {
	float: right;
	width: 49%;
	text-align: right;
}
#zt-top ul.menu {
	margin: 0;
}
#zt-top ul.menu li {
	padding: 0 10px;
	display: inline;
	background: url(../images/bg_top_seperator.jpg) no-repeat right center;
}
#zt-top  ul.menu li:last-child {
	background: none;
}
#zt-top a {
	color: #dddddd;
}
#zt-logo {
	width: 30%;
	float: left;
}
#zt-logo {
	height: 60px;
	margin: 0;
	padding: 20px 0 10px;
}
#zt-logo a {
	width: 208px;
	height: 56px;
	display: block;
	background: url(../images/logo.png)  no-repeat 0 0;
}
#zt-logo  a span {
	display: none;
}
#zt-mainmenu {
	float: left;
	width: 70%;
	margin-top: 24px;
}
/* END HEADER
-------------------------------------------------------------*/

/* BEGIN CONTAINER
-------------------------------------------------------------*/
#zt-mainbody {
	width: 100%;
	background: url(../images/bg_mainbody_shadow.jpg) repeat-x 0 0;
}
#zt-mainbody-inner {
	padding-top: 20px;
}
#zt-container,
#zt-container-right,
#zt-container-full {
	width: auto;
	overflow: hidden;
}
#zt-right{
	width: 250px;
	float: right;
}
#zt-right h3 {
	margin: 0;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 18px;
}
#zt-content {
	width: 650px;
	float: left;
}

#zt-container-full #zt-content,
#zt-container-full #zt-content-inner,
#zt-container-full #zt-maincontent {
	width: 100%;
}
#zt-pathway {
	width: 100%;
}
#zt-pathway-inner {
	padding: 0 25px;
}
/* END CONTAINER
-------------------------------------------------------------*/

/* BEGIN FOOTER 
-------------------------------------------------------------*/
.zt-user {
	float: left;
	overflow: hidden;
}
.zt-box-right {
	float: right;
}
.zt-box-left  {
	float: left;
}
.zt-user .zt-box-inside {
	padding-right: 10px;
}
.zt-box-left .zt-box-inside {
	padding-right: 5px;
}
.zt-box-center .zt-box-inside {
	padding-left: 10px;
	padding-right: 10px;
}
.zt-box-right .zt-box-inside {
	padding-right: 5px;
}
.zt-box-full {
	width: 100%;
	margin-left: 0px !important;
}
#zt-inset {
	margin: 0 0 15px 0;
}
#zt-bottom {
	width: 100%;
	float: left;
	background: url(../images/blue/bottom_bg.jpg) no-repeat center top #0F2B4C;
}
#zt-bottom-inner {
	width: 100%;
}
#zt-footer {
	float: right;
	width: 50%;
	text-align: right;
}
#zt-footer a,
#zt-copyright a{
	color: #f8efef;
	text-shadow: none;
}
#zt-vps{position: absolute; top: 0px; left: -5500px;}
#zt-footer .custom a:hover{text-decoration: none;opacity:0.8;}
#zt-footer-inner {
	padding-left: 5px;
	color: #f8efef;	
}
#zt-copyright {
	float: left;
	width: 50%;
	color: #f8efef;
	margin-top: 5px;
}
#zt-copyright-inner {
	padding-right: 5px;
	font-size: 90%;
}
/* END FOOTER 
----------------------------------------------*/

div.moduletable,
div.moduletable_menu,
div.moduletable_text,
div.module,
div.module_menu,
div.module_text {
	clear: both;
	margin: 0 0 15px 0;
	position: relative;
	clear: both;
	overflow: hidden;
}
h3.moduletitle {
	width: 100%;
	margin: 0;
	color: #1C66AC;
	font-size: 25px;
	line-height: 30px;
	
}
div.modulecontent {
	padding: 5px;
	overflow: hidden;
}
div.moduletable-blank div.modulecontent {
	padding: 0;
}

/* BEGIN FRAME 
----------------------------------------------*/
.hidden {
	overflow: hidden;
}
.white {
	color: #fff;
}
.font13 {
	font-size: 13px;
}
.readone {
	color: #fefefe;
}
div.latestnewsitems  {
	padding-bottom: 15px;
	margin-bottom: 16px;
	border-bottom: 1px solid #dfdfdf;
}
div.latestnewsitems img {
	padding: 0;
	margin-right: 10px;
	background: none;
}
div.latestnewsitems h4 {
	margin: 3px 0;
	font-weight: normal;
}
div.latestnewsitems  a {
	font-size: 17px;
	color: #1c66ac;
}
div.latestnewsitems p{
	margin:0;
	overflow: hidden;
}
#zt-mainbody .last-item {
	border: none;
}
#zt-user3 div.box1 ,
#zt-user3 div.box2{
	width: 300px;
	height: 135px;
	color: #fff;
	margin-bottom: 15px;
	background: url(../images/blue/user3_bg.png) no-repeat 0 0;
}
#zt-user3 div.box2 {
	background: url(../images/user3_bg.png) no-repeat ;
	background-position: 0 -135px;
}
#zt-user3 div.box-inner {
	padding: 15px 125px 15px 15px;
	overflow: hidden;
}
#zt-user3 h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

#zt-user5 h3,
#zt-userwrap4 h3 {
	margin: 0;
	padding: 10px 0 5px;
	font-size: 22px;
	color: #105ba1;
}
#zt-userwrap4 div.zt-c {
	background: url(../images/col_bg_left.jpg) no-repeat 0 0;
	border: 0;
}
#zt-userwrap4 div.zt-c2 {
	background: url(../images/col_bg_right.jpg) no-repeat 100% 0;
	border: 0;
}
div.zt-tc, div.zt-bc{
	display: block;
	height: 10px;
	margin: 0 10px;
	position: relative;
	background: url(../images/round.png) repeat-x 0 -20px ;
}
div.zt-bc {
	background-position: 0 -30px;
}
div.zt-c {
	display: block;
	padding: 0 0 0 20px;
	overflow: hidden;
	border-left: 1px solid #d1d1d1;
	background: #efefef url(../images/right_bg.png) repeat-x 0 0;
}
div.zt-c2 {
	display: block;
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 1px solid #d1d1d1;
	background: #efefef url(../images/right_bg.png) repeat-x 0 0;
}
div.zt-c-inset {display: block;
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 1px solid #d1d1d1;
	background: #efefef url(../images/right_bg.png) repeat-x 0 0;}
div.zt-tl{
	display: block;
	height: 10px;
	left: -10px;
	position: absolute;
	top: 0;
	width: 10px;
	overflow: hidden;
	background: url("../images/round.png") no-repeat  0 0 ;
}

div.zt-tr{
	display: block;
	height: 10px;
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	overflow: hidden;
	background: url("../images/round.png") no-repeat  -10px 0 ;
}
div.zt-bl{
	display: block;
	height: 10px;
	left: -10px;
	position: absolute;
	top: 0;
	width: 10px;
	background: url("../images/round.png") no-repeat  0px -10px ;
	_background: url("../images/gray/round_2.png") no-repeat  left top ;
}
div.zt-br{
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	right: -10px;
	top: 0;
	background: url("../images/round.png") no-repeat  -10px -10px ;
	_background: url("../images/gray/round_2.png") no-repeat  right top ;
}
ul.lstbox {
	margin: 0;
}
ul.lstbox  li {
	float: left;
	background: none;
	padding: 0;
}
ul.lstbox h4 {
	font-size: 17px;
	margin: 0;
}
ul.lstbox p {
	margin: 7px 0;
}
#zt-userwrap6 h3.moduletitle {
	font-size: 140%;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 2px 1px #182d46;
	color: #f8efef;
}
#zt-userwrap6 a {
	color: #b4dcff;
}
#zt-userwrap6 ul.menu a {
	/*padding-left: 12px;
	background: url(../images/dotter.png) no-repeat 0 7px;*/
}
#zt-userwrap6 ul.menu a:hover {
	/*background-position: 0 -9px;*/
}
div.box {
	float: right;
	width: 61px ;
	height: 60px;
	color: #fff;
	display: block;
	background: url(../images/blue/box.png) no-repeat 0 0;
}
div.box  h2 {
	font-size: 24px;
	line-height: 60px;
	margin: 0;
	text-align: center;
	font-weight: normal;
}
.zt-getquote {
	padding: 13px 0;
	overflow: hidden;
	background: url(../images/blue/tool.png) no-repeat 0 0;
}
.zt-getquote h4 {
	margin: 0;
	font-size: 16px;
	text-indent: 20px;
	color: #fefefe;
	font-weight: normal;
}
.zt-getquote a.arrownow {
	color: #fefefe;
	font-size: 18px;
	font-weight: bold;
	padding-right: 25px;
	text-transform: uppercase;
	background: url(../images/arrow_now.png) no-repeat right 3px;
	
}
.zt-getquote a.arrownow:hover {
	text-decoration: none;
	color: #123055;
	background: url(../images/arrow_now.png) no-repeat right -40px;
}
div.nivo-controlNav {
	height: 65px;
	width: 80%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
	
}
div.slider-wrapper {
	background: url(../images/bg_imac.png) no-repeat 99% 10px;
}
.zt-pedonheadline-group {
	margin: 0;
	position: relative;
	z-index: 2;
}
.zt-pedonheadline-group ul {
	width: 960px;
	margin: 0 auto;
}	
.zt-pedonheadline-group ul li {
	padding: 0;
	background: url(../images/line_slideshow.png) no-repeat 100% 5px;
}
.zt-pedonheadline-group a {
	color: #fff;
	margin: 0 20px;
	font-weight: bold;
	font-size: 130%;
	height: 62px;
	line-height: 62px;
	text-transform: uppercase;
}
.zt-proshow-intro {
	top: 20px;
	left: 20px;
}
.zt-proshow-display {
	width: 389px;
	height: 244px;
	left: auto !important;
	right: 19px !important;
	top: 29px !important;
}
.zt-proshow-intro-bb,
.zt-proshow-intro-bt {
	background: none;
}
.zt-proshow-intro {
	width: 480px;
	text-align: left;
}
.zt-proshow-intro-inner {
	padding: 0;
	color: #FFF;
}
.zt-proshow-intro-inner h2 {
	margin: 0 0 15px 0;
	line-height: 110%;
	height: 50px;
	text-shadow: 0 1px 1px #282828;
}
.zt-proshow-intro-inner ul li {
	padding: 3px 0 3px 15px;
	font-size: 110%;
	text-shadow: 0 1px 1px #666;
	background: url(../images/bg_pedon_bullet.png) no-repeat 0 13px;
}
.intro-button {
	padding: 5px 0 0 15px;
}
.button1 {
	margin: 0 10px 0 0;
	padding: 0 35px 10px 0;
	float: left;
	line-height: 35px;
	color: #FFF;
	width: 115px;
	font-size: 110%;
	text-align: center;
	background: url(../images/blue/button1.png) no-repeat 0 0;
}
.button2 {
	padding: 0 35px 10px 0;
	float: left;
	line-height: 35px;
	color: #FFF;
	width: 150px;
	font-size: 110%;
	text-align: center;
	background: url(../images/blue/button2.png) no-repeat 0 0;
}
.zt-pedonheadline-wrap .but_pre {
	float: right;
	background: url(../images/arrow-l.png) no-repeat 0 50% !important;
}
.zt-pedonheadline-wrap .but_next {
	float: right;
	background: url(../images/arrow-r.png) no-repeat 0 50% !important;
}
.latestnewsitems {
	float: none;
}