/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

.rtl div.box {float: left;padding-right:20px;}
.rtl #zt-inset .zt-box-right{float: right;}
#pagenav131,
#pagenav-wrapper {direction: ltr;}
#zt-time {
	float: right;
}
#zt-search {
	float: left;
}
#zt-search .inputbox {
	float: right;
}
#zt-search .bt-search {
	float: left;
}
#zt-top-right{float: left;}
#zt-topmenu {
	float: left;
}
#zt-topmenu ul.menu {
	float: left;
}
#zt-topmenu ul.menu li {
	float: left;
}
#zt-logo {
	float: right;
	width:23%;
}
#zt-login {
	float: left;
}
#zt-login div.zt-field {
	float: right;
}

#zt-tools {
	float: left;
}
#zt-copyright {
	float: right;
}
#zt-footer {
	float: right;
}
#zt-footer ul.menu {
	float: left;
}
#zt-footer ul.menu li {
	float: left;
}
#zt-footer p.zt-user {
	width: 12% !important;
}

img.caption {
	margin: 0 0 10px 15px;
	float: right;
}

ol li {
	margin-right: 21px;
	margin-left: 0;
}

.rtl #zt-userwrap6 ul li{
	text-align: right;
}
.rtl #zt-userwrap6 div.modulecontent,
.rtl #zt-userwrap6 h3.moduletitle{
	text-align: right;
}

ul li {
	padding-left: 0;
	padding-right: 20px;
	background: url(../images/bullet.png) no-repeat 100% 7px;
	text-align:right;
}
ul.latestnews li, ul.mostread li {
	padding:0 20px 0 0;
}
/*Mega menu---------------------*/
.rtl #menusys_mega li {float: right;}
.rtl #menusys_mega {float: left;}
.rtl #menusys_mega .megacol {float: right;text-align:right;}
div.menusys_mega ul.mega-ul li {padding: 0 10px 0 0;}
div.menusys_mega ul.level0 > li {
	background: url("../images/bg_mainmenu_seperator.png") no-repeat left 0;
}


.zt-user {
	float: right;
}
.zt-box-right {
	float: left;
}
.zt-box-left .zt-box-inside {
	padding: 0 0 0 8px;
}
.zt-box-right .zt-box-inside {
	padding: 0 8px 0 0;
}
#zt-breadcrumb-inner {
	padding-left: 0;
	padding-right: 10px;
	width: 100%;
}
#zt-breadcrumb img {
	display: none;
}
#zt-breadcrumb strong,
#zt-breadcrumb a,
#zt-breadcrumb span {
	float: right;
	display: inline;
}
#zt-breadcrumb strong {
	padding-left: 5px;
}
#zt-breadcrumb a {
	padding-left: 13px;
	background: url(../images/arrow-rtl.png) no-repeat 3px 7px;
}
.zt-social {
	position: absolute;
	top: 15px;
	right: auto;
	left: 15px;
}
.ztads {
	margin: 0 -10px -10px 0;
}
div.twitter_follow div.zt_twit_follow,
.zt_twit_follow_cont {
	background: url(../images/twitter.png) no-repeat 100% 50%;
	padding: 2px 20px 0 0;
}
div.latestnewsitems img {
	float: right;
}

.people h3.moduletitle span {
	background: url(../images/people.png) no-repeat 100% 0;
	padding: 0 40px 0 0;
}
.partners h3.moduletitle span {
	background: url(../images/partners.png) no-repeat 100% 0;
	padding: 0 50px 0 0;
}
.icon7 h3.moduletitle{
	background:url("../images/icon7.png") no-repeat scroll right 0 transparent;
	padding: 3px 45px 3px 0;
}
ul.list li a{
	padding: 0;
	padding-right: 18px;
	background: url("../images/bullet.png") no-repeat scroll right 4px transparent;
}
ul.list li a:hover{
	background: url("../images/bullet.png") no-repeat scroll right -20px transparent;
}
a.ztsobi-advance{
	float: right;
	padding: 0;
	padding-right: 15px;
	background: url("../images/arrow-search.png") no-repeat right 7px ;
}
a.ztsobi-advance:hover{
	background-position: right -10px;
}
.jdSlideshow a.right {
	float:left;
	position:relative;
	width:39px;
}
.jdSlideshow a.right:hover{
	background-position: -37px -43px;
}
#zt-colwrap1 .icon1, #zt-colwrap1 .icon2, #zt-colwrap1 .icon3,
#zt-colwrap1 .icon4, #zt-colwrap1 .icon5, #zt-colwrap1 .icon6{
	padding: 0;
	padding-right: 75px;
	background-position: right top;
}
.jvcarousel-item img{
	margin: 0 0 10px 20px!important;
}
.jvcarousel-pagi {
	float: left;
	left:0;
}
.handles .handles_item {
    text-indent: 999em;
    overflow: hidden;
    float: left;
}
.img_caption.left, .img_caption.right {
	margin-left: 1.2em;
	margin-right: 0;
}

.horiz .img_caption{
	float: right;
    margin-left: 9px;
    margin-right: 0;
}

.SPDetails img.spFieldsData{
	float: left!important;
}