div.latestnews {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	display: inline-block;
}
div.latestnewsitems {
	margin: 0 0 10px;
	padding: 0;
	display: block;
	float: left;
}
div.latestnewsitems img { 
	margin: 2px 5px 0 0;
	padding: 2px;
	background: #dadada;
}
div.latestnewsitems img.left {
	float: left;
}
div.latestnewsitems img.right {
	float: right;
}
div.latestnewsitems h4 {
	margin: 0.5em 0 0;
}