div.slider-wrapper {float: left; position: relative; overflow: hidden; padding: 3px;}
.nivoSliderleft {position:relative;float: right; background:#fff;}
.nivoSliderleft img {position:absolute;top:0px;left:0px; display: none;}
.nivoSlider .bgslide img {display: block;}
.loading {position:relative;float: right; background:#fff url(../images/zt_slideshow/loading.gif) no-repeat 50% 50%;}
.nivoSliderleft a {border:0;display:block; }
.nivoSliderleft a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivoSliderleft a.nivo-imageLink:hover {
	background: none !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px; 
	color:#fff;  
	z-index:8;
	margin-left: 80px; 
	width: 40%;
	height: 35%;
}
.nivo-caption h2 {
	position: absolute;
	font-family: Yanone Kaffeesatz;
	display: block;
	width: 100%;
	margin: 0px; 
}
.nivo-caption h2 a {
	color: #fff !important; 
	font-size: 25px !important;
	font-family: Yanone Kaffeesatz;
	display: block;
	width: 100%; 
	margin: 0px;
	padding: 0 0 !important;
	float: left; 
	background: url(../images/zt_slideshow/shadow.png) repeat;
}
.nivo-caption h2 a:hover {
	background: url(../images/zt_slideshow/shadow.png) repeat !important;
} 
.nivo-caption h2 a span { 
	background: url(../images/zt_slideshow/readmore.png) no-repeat right;
	width: 100%;
	padding: 0 22.7px 3px 10px;
	display: block;
}
.nivo-caption p { 
    margin: 0;
    padding: 0 22.7px 0 10px;
    position: absolute;
    top: 31px;
	color: #fff;
	font-family: Yanone Kaffeesatz;
	font-size: 136% !important;
	width: 100%;
	line-height: 23px; 
	background: url(../images/zt_slideshow/shadow.png) repeat;
} 
.nivo-caption p > h2{font-size: 13px; margin:5px 0;}
.nivo-caption p > h2 > a{color:#eee;}
.nivo-caption p > p {padding: 0; color: #000;}
div.action {
	position: absolute;
	left: 0px;
	top: 0px;
	width: auto;
}
.nivo-caption span.readmore {width: 100%;float: left;}
.nivo-html-caption {display:none;}
.nivo-directionNav a {position:absolute;top:45%;z-index:2;cursor:pointer;}

.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
.Navleft a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.Navleft a.active {}  
.thumbnav .Navleft {
	position: relative; 
}


#nivoSlider-wrapper{padding:0px;background:none;border-radius:0px; overflow:hidden;margin-bottom:15px;display:block;box-shadow: 0 0 6px #888,inset 0 0 0px #000;position: relative;}
div.nivo-controlNav{position:relative;clear:both;margin: 0 auto;display:table;}

.Navleft > a {
	display:inline-block; 
	background:url(../images/zt_slideshow/bullets.png) no-repeat 0 0px; 
	border:0;
	margin:5px;
	width:13px;height:13px;text-indent:-999em;
}
.Navleft > a:hover{background-position: 0 -26px;}
.Navleft > a:active{background-position: 0 -39px;}
.Navleft a.active {background-position: 0 -13px;}



/*thumbnav*/
div.thumbnav .Navleft > a{width:auto;height:auto;background:none;display:table-cell;}
div.thumbnav .Navleft > a > img{opacity: 0.8;}

div.thumbnav .Navleft a > p {margin: 0;padding: 0;text-indent:0;display:none;}
div.thumbnav .Navleft a > img {float: left;margin-right: 5px; padding: 2px;border: 1px solid #CCCCCC;border-radius: 5px 5px 5px 5px; box-shadow: 0 0 3px #b9b9b9;}

div.thumbnav .Navleft > a.active > img{border: 1px solid #9e9e9e;opacity: 1;}
div.thumbnav .Navleft > a:hover > img{border: 1px solid #b4b4b4;box-shadow: 0 0 5px b4b4b4;opacity: 1;}
/*End thumbnav*/

.nivo-directionNav a {
	display:block;
	width:70px;
	height:70px;
	background:url(../images/zt_slideshow/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	z-index: 9;
}
 

a.nivo-nextNav {background-position:-70px 0;right:0px;}
a.nivo-prevNav {left:0px;}
a.nivo-nextNav:hover {background:url(../images/zt_slideshow/arrows.png) no-repeat 100% 0 !important;}
a.nivo-prevNav:hover {background:url(../images/zt_slideshow/arrows.png) no-repeat 0 0 !important;}
.nivo-caption {font-family: Helvetica, Arial, sans-serif;}

.nivo-caption a,
.nivo-caption a:link{text-decoration:none;}
.nivo-caption a:hover{background:none;}
#parallax {position:absolute; top:0; left:0; overflow:hidden;z-index: 9; margin:0 !important; padding: 0 !important;}
#parallax li {position:absolute; top:0; left:0;}
#parallax li.prl1 {background:url(../images/b1.png); width:2200px; height:800px;}
#parallax li.prl2 {background:url(../images/b2.png); width:2050px; height:600px;}
#parallax li.prl3 {background:url(../images/b3.png); width:2500px; height:700px;}
#parallax li.prl4 {background:url(../images/b4.png); width:1900px; height:700px;}
.ctrloading {bottom: 0px;height: 7px;position: absolute;z-index: 10; width: 100%; opacity: 0.7;}
.processload { width: 100%; background: url(../images/zt_slideshow/shadow.png) repeat; height: 7px; display: block; float:left; }


