/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

#zt-header {
	background: url(../../images/blue/header_bg.jpg) repeat-x top center;

}
#zt-userwrap1 {
	float: left;
	border-bottom: 1px solid #224e66;
}

.Navleft > a:hover{color:#2296fa!important;}
.Navleft > a:active{color:#2296fa!important;}
.Navleft a.active {color:#2296fa!important;}

div.latestnewsitems a {
	color: #1c66ac;
}
#zt-user3 div.box1 {
	background: url(../../images/blue/user3_bg.png) no-repeat scroll 0 0 ;

}
#zt-user5 h3, #zt-userwrap4 h3 ,a,
h3.moduletitle {
	color: #1c66ac;
}
.zt-getquote {
	background: url(../../images/blue/tool.png) no-repeat scroll 0 0 ;
}
#zt-bottom {
	background: url(../../images/blue/bottom_bg.jpg) no-repeat center top #0F2B4C;

}
#zt-userwrap7 {
	border-top: 1px solid #25393e;
	background: url(../../images/blue/wrap6_bg.png) repeat  0 0 ;
}
#zt-footer a, #zt-copyright a {
	color: #1c66ac;
}
div.box {
	background: url(../../images/blue/box.png) no-repeat 0 0;
}
#zt-userwrap6 h3.moduletitle,
#zt-userwrap6 {
	color: #f8efef;
}
#zt-userwrap6 a {
	color: #B4DCFF;
}
/*MegaMenu*/


div.menusys_mega ul.level0 li.active > a.item,
div.menusys_mega ul.level0 li.hover > a.item {color:#8FCBFF;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title,
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#8FCBFF; }

#menusys_mega .megacol ul li a:hover span.no-image,
#menusys_mega .megacol ul li a:focus span.no-image,
#menusys_mega .megacol ul li a:active span.no-image,
#menusys_mega .megacol ul  li a.active span.no-image,
#menusys_mega .megacol ul  li a.active:hover span.no-image,
#menusys_mega .megacol ul  li a.active:active span.no-image,
#menusys_mega .megacol ul  li a.active:focus span.no-image,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;color: #3D7FB8 !}

#menusys_mega .megacol ul li a:hover span.no-image span,
#menusys_mega .megacol ul li a:focus span.no-image span,
#menusys_mega .megacol ul li a:active span.no-image span,
#menusys_mega .megacol ul  li a.active span.no-image span,
#menusys_mega .megacol ul  li a.active:hover span.no-image span,
#menusys_mega .megacol ul  li a.active:active span.no-image span,
#menusys_mega .megacol ul  li a.active:focus span.no-image span,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image span {color: #3D7FB8 !important;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color: #3D7FB8 !important;}


.zt-getquote a.arrownow {
	color: #fefefe;
	background: url(../../images/blue/arrow_now.png) no-repeat right 3px;
}
.zt-getquote a.arrownow:hover {
	color: #123055;
	background: url(../../images/blue/arrow_now.png) no-repeat right -40px;
}