/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/
#zt-header {
	background: url(../../images/gray/header_bg.jpg) repeat-x top center;
}
#zt-userwrap1 {
	border-bottom: 1px solid #242424;
}
.Navleft > a:hover{color:#f79428!important;}
.Navleft > a:active{color:#f79428!important;}
.Navleft a.active {color:#f79428!important;}


div.latestnewsitems a {
	color: #e47b15;
}
#zt-user3 div.box1 {
	background: url(../../images/gray/user3_bg.png) no-repeat scroll 0 0 ;
}
#zt-user5 h3, #zt-userwrap4 h3 ,
a ,h3.moduletitle {
	color: #e47b15;
}
.zt-getquote {
	background: url(../../images/gray/tool.png) no-repeat scroll 0 0 ;
}
#zt-bottom {
	background: url(../../images/gray/bottom_bg.jpg) no-repeat center top #202020;
}
#zt-userwrap7 {
	border-top: 1px solid #3c3c3c;
	background: url(../../images/gray/wrap6_bg.png) repeat  0 0 ;
}
#zt-footer a, #zt-copyright a {
	color: #e47b15;
}
div.box {
	background: url(../../images/green/box.png) no-repeat 0 0;
}
#zt-userwrap6 a {
	color: #fff;
}
#zt-userwrap6 h3.moduletitle,
#zt-userwrap6 {
	color: #fff;
}
/*MegaMenu*/
div.menusys_mega ul.level0 li.active > a.item,
div.menusys_mega ul.level0 li.hover > a.item {color:#e98c27;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title,
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#e98c27; }

#menusys_mega .megacol ul li a:hover span.no-image,
#menusys_mega .megacol ul li a:focus span.no-image,
#menusys_mega .megacol ul li a:active span.no-image,
#menusys_mega .megacol ul  li a.active span.no-image,
#menusys_mega .megacol ul  li a.active:hover span.no-image,
#menusys_mega .megacol ul  li a.active:active span.no-image,
#menusys_mega .megacol ul  li a.active:focus span.no-image,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;color: #bd6200 !}

#menusys_mega .megacol ul li a:hover span.no-image span,
#menusys_mega .megacol ul li a:focus span.no-image span,
#menusys_mega .megacol ul li a:active span.no-image span,
#menusys_mega .megacol ul  li a.active span.no-image span,
#menusys_mega .megacol ul  li a.active:hover span.no-image span,
#menusys_mega .megacol ul  li a.active:active span.no-image span,
#menusys_mega .megacol ul  li a.active:focus span.no-image span,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image span {color: #bd6200 !important;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color: #bd6200 !important;}
.zt-getquote a.arrownow {
	color: #fefefe;
	background: url(../../images/gray/arrow_now.png) no-repeat right 3px;
}
.zt-getquote a.arrownow:hover {
	color: #904700;
	background: url(../../images/gray/arrow_now.png) no-repeat right -40px;
}