/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/
#zt-header {
	background: url(../../images/green/header_bg.jpg) repeat-x top center;
}
#zt-userwrap1 {
	border-bottom:1px solid #5a712b;
}
.Navleft > a:hover{color:#3d3c3e!important;}
.Navleft > a:active{color:#3d3c3e!important;}
.Navleft a.active {color:#3d3c3e!important;}

div.latestnewsitems a {
	color: #5a8e17;
}
#zt-user3 div.box1 {
	background: url(../../images/green/user3_bg.png) no-repeat scroll 0 0 ;

}
#zt-user5 h3, #zt-userwrap4 h3 ,a ,
h3.moduletitle {
	color: #5a8e17;
}
.zt-getquote  {
	background: url(../../images/green/tool.png) no-repeat scroll 0 0 ;
}
#zt-bottom {
	background: url(../../images/green/bottom_bg.png) no-repeat center top #346400;

}
#zt-userwrap7 {
	border-top: 1px solid #376706;
	background: url(../../images/green/wrap6_bg.png) repeat  0 0 ;
}
#zt-footer a, #zt-copyright a {
	color: #5a8e17;
}
div.box {
	background: url(../../images/green/box.png) no-repeat 0 0;
}
#zt-userwrap6 a {
	color: #c1e78a;
}
#zt-userwrap6 h3.moduletitle,
#zt-userwrap6 {
	color: #fff;
}
/*MegaMenu*/
div.menusys_mega ul.level0 li.active > a.item,
div.menusys_mega ul.level0 li.hover > a.item {color:#395014;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title,
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#395014; }

#menusys_mega .megacol ul li a:hover span.no-image,
#menusys_mega .megacol ul li a:focus span.no-image,
#menusys_mega .megacol ul li a:active span.no-image,
#menusys_mega .megacol ul  li a.active span.no-image,
#menusys_mega .megacol ul  li a.active:hover span.no-image,
#menusys_mega .megacol ul  li a.active:active span.no-image,
#menusys_mega .megacol ul  li a.active:focus span.no-image,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;color: #82993C !}

#menusys_mega .megacol ul li a:hover span.no-image span,
#menusys_mega .megacol ul li a:focus span.no-image span,
#menusys_mega .megacol ul li a:active span.no-image span,
#menusys_mega .megacol ul  li a.active span.no-image span,
#menusys_mega .megacol ul  li a.active:hover span.no-image span,
#menusys_mega .megacol ul  li a.active:active span.no-image span,
#menusys_mega .megacol ul  li a.active:focus span.no-image span,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image span {color: #82993C !important;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color: #82993C !important;}

.zt-getquote a.arrownow {
	color: #fefefe;
	background: url(../../images/green/arrow_now.png) no-repeat right 3px;
}
.zt-getquote a.arrownow:hover {
	color: #224004;
	background: url(../../images/green/arrow_now.png) no-repeat right -40px;
}