/*------------------------------------------------------------------------
* Copyright (c) 2008-2012 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

#zt-header {
	background: url(../../images/violet/header_bg.jpg) repeat-x top center;

}
#zt-userwrap1 {
	border-bottom:1px solid #5d327b;
}
.Navleft > a:hover{color:#cb70fc!important;}
.Navleft > a:active{color:#cb70fc!important;}
.Navleft a.active {color:#cb70fc!important;}


div.latestnewsitems a {
	color: #7c2399;
}
#zt-user3 div.box1 {
	background: url(../../images/violet/user3_bg.jpg) no-repeat scroll 0 0 ;

}
#zt-user5 h3, #zt-userwrap4 h3 ,a ,
h3.moduletitle {
	color: #7c2399;
}
.zt-getquote {
	background: url(../../images/violet/tool.png) no-repeat scroll center top #421150;
}
#zt-bottom {
	background: url(../../images/violet/bottom_bg.jpg) no-repeat center top #441153;

}
#zt-userwrap7 {
	border-top: 1px solid #450058;
	background: url(../../images/violet/wrap6_bg.png) repeat  0 0 ;
}
#zt-footer a, #zt-copyright a {
	color: #7c2399;
}
div.box {
	background: url(../../images/violet/box.png) no-repeat 0 0;
}
#zt-userwrap6 ul.menu a{
	color: #fff;
}
#zt-userwrap6 h3.moduletitle,
#zt-userwrap6 {
	color: #fff;
}
/*MegaMenu*/
div.menusys_mega ul.level0 li.active > a.item,
div.menusys_mega ul.level0 li.hover > a.item {color:#bc75e2;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title,
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#bc75e2; }

#menusys_mega .megacol ul li a:hover span.no-image,
#menusys_mega .megacol ul li a:focus span.no-image,
#menusys_mega .megacol ul li a:active span.no-image,
#menusys_mega .megacol ul  li a.active span.no-image,
#menusys_mega .megacol ul  li a.active:hover span.no-image,
#menusys_mega .megacol ul  li a.active:active span.no-image,
#menusys_mega .megacol ul  li a.active:focus span.no-image,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;color: #bc69cd !}

#menusys_mega .megacol ul li a:hover span.no-image span,
#menusys_mega .megacol ul li a:focus span.no-image span,
#menusys_mega .megacol ul li a:active span.no-image span,
#menusys_mega .megacol ul  li a.active span.no-image span,
#menusys_mega .megacol ul  li a.active:hover span.no-image span,
#menusys_mega .megacol ul  li a.active:active span.no-image span,
#menusys_mega .megacol ul  li a.active:focus span.no-image span,
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image span {color: #bc69cd !important;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color: #bc69cd !important;}

.zt-getquote a.arrownow {
	color: #fefefe;
	background: url(../../images/violet/arrow_now.png) no-repeat right 3px;
}
.zt-getquote a.arrownow:hover {
	color: #123055;
	background: url(../../images/violet/arrow_now.png) no-repeat right -40px;
}